{% extends 'banner.html.twig' %}
{% block content %}
    <div class="background">
    <table id="management-table">
        <tr>
            <th>User Id</th>
            <th>Email</th>
            <th>Role</th>
            <th>Created At</th>
            <th>View user responses</th>
            <th>Promote/Demote</th>
            <th>Bar account</th>
            <th>View activities</th>
        </tr>
        {% for user in users %}
            <tr>
                <td>{{ user['id'] }}</td>
                <td>{{ user['email'] }}</td>
                <td>{{ user['role'] }}</td>
                <td>{{ user['createdate'] }}</td>
                <td>No responses found</td><!--<td><button>View Responses</button></td> -->
                {% if user['role'] == "user" %}
                    <td><a href="promote?accId={{ user['id'] }}"><button class="button-small">Make admin</button></a></td>
                {% elseif user['role'] == "admin" and adminId != user['id'] %}
                    <td><a href="demote?accId={{ user['id'] }}"><button class="button-small">Make user</button></a></td>
                {% else %}
                    <td>Admin</td>
                {% endif %}
                {% if user['barred'] == 0 and adminId != user['id'] %}
                    <td><a href="barAccount?accId={{ user['id'] }}"><button class="button-small">Bar account</button></a></td>
                {% elseif adminId != user['id'] %}
                    <td><a href="freeAccount?accId={{ user['id'] }}"><button class="button-small">Free account</button></a></td>
                {% else %}
                    <td>Your account</td>
                {% endif %}
                <td><a href="viewLogs?accId={{ user['id'] }}"><button class="button-small">View activities</button></a></td>
            </tr>
        {% endfor %}
    </table>
    </div>
{% endblock %}