{% extends 'banner.html.twig' %}
{% block content %}
<div class="forgottenPassword-wrapper background">
    <h3>Reset Password</h3>
    <div class="forgottenPassword-form">
        <div class="forgottenPassword-errorSpan">
            {% if action_notification %}
                {% autoescape false %}
                    {{ '<span class="universal-errorMessage">' ~ action_notification ~ '</span>' }}
                {% endautoescape %}
            {% endif %}
        </div>
        <form method={{ method }} action="{{ action_1 }}">
            <label>Email address:</label><br />
            <input type="email" name="email" /><br /><br />
            <input class="button-small" type="submit" value="Reset Password" />
        </form>
        {% if reset_link %}
            Reset Link: <a href="{{ reset_link }}">{{ reset_link }}</a>
        {% endif %}
    </div>
        <a href="{{ landing_page }}">
            <button class="button-small">&larr; Back to login</button>
        </a>
</div>
{% endblock %}